body {
  width: 100% !important;
  min-width: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  margin: 0;
  Margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

img {
  outline: none;
  text-decoration: none;
  -ms-interpolation-mode: bicubic;
  width: auto;
  max-width: 100%;
  clear: both;
  display: block; }

center {
  width: 100%;
  min-width: 600px; }

a img {
  border: none; }

table {
  border-spacing: 0;
  border-collapse: collapse; }

td, th {
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  border-collapse: collapse !important; }

table, tr, td, th {
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  vertical-align: top;
  text-align: left; }

@media only screen {
  html {
    min-height: 100%;
    background: #ffffff; } }

table.body {
  background: #ffffff;
  height: 100%;
  width: 100%; }

table.container {
  background: #ffffff;
  width: 600px;
  margin: 0 auto;
  Margin: 0 auto;
  text-align: inherit; }

table.row {
  padding: 0;
  width: 100%;
  position: relative; }

table.container table.row {
  display: table; }

th.columns {
  margin: 0 auto;
  Margin: 0 auto;
  padding-left: 0;
  padding-bottom: 0; }
  th.columns .columns.first {
    padding-left: 0 !important; }
  th.columns .columns.last {
    padding-right: 0 !important; }

th.columns.last {
  padding-right: 0; }

th.columns table {
  width: 100%; }

th.large-2 {
  width: 100px;
  padding-left: 0;
  padding-right: 0; }

th.large-2.first {
  padding-left: 0; }

.body .columns th.large-2 {
  width: 16.66667%; }

th.large-3 {
  width: 150px;
  padding-left: 0;
  padding-right: 0; }

th.large-3.first {
  padding-left: 0; }

th.large-3.last {
  padding-right: 0; }

.body .columns th.large-3 {
  width: 25%; }

th.large-4 {
  width: 200px;
  padding-left: 0;
  padding-right: 0; }

th.large-4.first {
  padding-left: 0; }

.body .columns th.large-4 {
  width: 33.33333%; }

th.large-6 {
  width: 300px;
  padding-left: 0;
  padding-right: 0; }

th.large-6.first {
  padding-left: 0; }

th.large-6.last {
  padding-right: 0; }

.body .columns th.large-6 {
  width: 50%; }

th.large-8 {
  width: 400px;
  padding-left: 0;
  padding-right: 0; }

th.large-8.last {
  padding-right: 0; }

.body .columns th.large-8 {
  width: 66.66667%; }

th.large-12 {
  width: 600px;
  padding-left: 0;
  padding-right: 0; }

th.large-12.first {
  padding-left: 0; }

th.large-12.last {
  padding-right: 0; }

.body .columns th.large-12 {
  width: 100%; }

th.expander {
  visibility: hidden;
  width: 0;
  padding: 0 !important; }

table.float-center {
  margin: 0 auto;
  Margin: 0 auto;
  float: none;
  text-align: center; }

body,
table.body,
h1,
h2,
h4,
h6,
p,
td,
th {
  color: #0a0a0a;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: normal;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  margin: 0;
  Margin: 0;
  text-align: left;
  line-height: 1.3; }

h1,
h2,
h4,
h6 {
  color: inherit;
  word-wrap: normal;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: normal;
  margin-bottom: 0;
  Margin-bottom: 0; }

h1 {
  font-size: 34px; }

h2 {
  font-size: 30px; }

h4 {
  font-size: 24px; }

h6 {
  font-size: 18px; }

body,
table.body,
p,
td,
th {
  font-size: 16px;
  line-height: 1.3; }

p {
  margin-bottom: 0;
  Margin-bottom: 0; }

a {
  color: #2199e8;
  text-decoration: none;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: normal;
  padding: 0;
  text-align: left;
  line-height: 1.3; }
  a:hover {
    color: #147dc2; }
  a:active {
    color: #147dc2; }
  a:visited {
    color: #2199e8; }

span.preheader {
  display: none !important;
  visibility: hidden;
  mso-hide: all !important;
  font-size: 1px;
  color: #ffffff;
  line-height: 1px;
  max-height: 0px;
  max-width: 0px;
  opacity: 0;
  overflow: hidden; }

@media only screen and (max-width: 600px) {
  table.body img {
    width: auto;
    height: auto; }
  table.body center {
    min-width: 0 !important; }
  table.body .container {
    width: 95% !important; }
  table.body .columns {
    height: auto !important;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 0 !important;
    padding-right: 0 !important; }
    table.body .columns .columns {
      padding-left: 0 !important;
      padding-right: 0 !important; }
  th.small-6 {
    display: inline-block !important;
    width: 50% !important; }
  th.small-12 {
    display: inline-block !important;
    width: 100% !important; }
  .columns th.small-12 {
    display: block !important;
    width: 100% !important; } }

body,
html,
.body {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.header .header-logo-row img {
  width: 80px;
  margin: 0 auto; }

.header .header-menu-row {
  background: #f7f7f7;
  background-color: #f7f7f7;
  height: 44px;
  margin-bottom: 8px !important; }
  .header .header-menu-row .columns {
    vertical-align: middle; }
    .header .header-menu-row .columns > table > tbody > tr > th {
      text-align: center; }
      .header .header-menu-row .columns > table > tbody > tr > th a {
        font-size: 14px;
        font-weight: normal;
        color: #333333;
        margin: 0 20px;
        letter-spacing: .2px; }
        @media screen and (max-width: 599px) {
          .header .header-menu-row .columns > table > tbody > tr > th a {
            font-size: 24px; } }

.header .subheader-row {
  background: #680022;
  background-color: #680022;
  height: 102px;
  margin-bottom: 8px !important; }
  .header .subheader-row .columns {
    vertical-align: middle; }
    .header .subheader-row .columns h4, .header .subheader-row .columns p {
      text-align: center;
      color: #ffffff;
      font-weight: 400; }
      @media screen and (max-width: 599px) {
        .header .subheader-row .columns h4, .header .subheader-row .columns p {
          text-align: left;
          padding-left: 20px; } }
      .header .subheader-row .columns h4 span, .header .subheader-row .columns p span {
        font-weight: 500; }
    .header .subheader-row .columns h4 {
      font-size: 22px; }
      @media screen and (max-width: 599px) {
        .header .subheader-row .columns h4 {
          font-size: 45px;
          padding-top: 10px; } }
    @media screen and (max-width: 599px) {
      .header .subheader-row .columns p {
        font-size: 25px;
        padding-bottom: 20px; } }

.days-remaining-row {
  border-collapse: separate;
  border-spacing: 8px;
  margin: -8px -8px 0 -7px !important;
  min-width: calc(100% + 15px) !important; }
  .days-remaining-row .days-remaining-column {
    background: linear-gradient(to bottom right, #ed002e, #7f0029);
    background-color: linear-gradient(to bottom right, #ed002e, #7f0029);
    position: relative; }
    .days-remaining-row .days-remaining-column .circle-row {
      position: absolute;
      height: 100%; }
      .days-remaining-row .days-remaining-column .circle-row img {
        vertical-align: middle;
        width: 85%;
        margin: 11% auto; }
        @media screen and (max-width: 599px) {
          .days-remaining-row .days-remaining-column .circle-row img {
            width: 70%;
            margin: 5% auto; } }
    .days-remaining-row .days-remaining-column .days-row h1 {
      margin-top: 29%;
      text-align: center;
      font-size: 60px;
      font-weight: 700;
      line-height: .8;
      color: #ffffff; }
      @media screen and (max-width: 599px) {
        .days-remaining-row .days-remaining-column .days-row h1 {
          font-size: 90px;
          margin-top: 23%; } }
    .days-remaining-row .days-remaining-column .days-row h2 {
      text-align: center;
      font-size: 33px;
      font-weight: 500;
      color: #ffffff; }
      @media screen and (max-width: 599px) {
        .days-remaining-row .days-remaining-column .days-row h2 {
          font-size: 50px;
          margin-bottom: 30px; } }
    .days-remaining-row .days-remaining-column .start-shopping-btn-row {
      margin-top: 50px; }
      .days-remaining-row .days-remaining-column .start-shopping-btn-row .start-shopping-btn-column > table > tbody > tr > th {
        text-align: center; }
        .days-remaining-row .days-remaining-column .start-shopping-btn-row .start-shopping-btn-column > table > tbody > tr > th a {
          background: #680022;
          background-color: #680022;
          color: #ffffff;
          padding: 10px 15px;
          border-radius: 3px;
          height: 40px;
          font-size: 16px; }
          @media screen and (max-width: 599px) {
            .days-remaining-row .days-remaining-column .start-shopping-btn-row .start-shopping-btn-column > table > tbody > tr > th a {
              font-size: 30px;
              padding: 15px 20px; } }
      @media screen and (max-width: 599px) {
        .days-remaining-row .days-remaining-column .start-shopping-btn-row .start-shopping-btn-column {
          margin-bottom: 30px; } }
  @media screen and (max-width: 599px) {
    .days-remaining-row .days-categories-column {
      margin-top: 8px;
      border-collapse: separate;
      border-spacing: 8px; } }
  .days-remaining-row .days-categories-column .row {
    border-collapse: separate;
    border-spacing: 8px;
    min-width: calc(100% + 15px) !important;
    margin: -8px; }
    @media screen and (max-width: 599px) {
      .days-remaining-row .days-categories-column .row {
        min-width: calc(100% + 7px) !important; } }
    .days-remaining-row .days-categories-column .row .days-category {
      background: linear-gradient(#e49c9d, #fde0d7);
      background-color: linear-gradient(#e49c9d, #fde0d7); }
      @media screen and (max-width: 599px) {
        .days-remaining-row .days-categories-column .row .days-category.first {
          margin-right: 8px; } }
      @media screen and (max-width: 599px) {
        .days-remaining-row .days-categories-column .row .days-category.last {
          margin-right: -8px; } }
      .days-remaining-row .days-categories-column .row .days-category a p {
        background: #fde0d7;
        text-align: center;
        font-size: 13px;
        color: #333333;
        padding: 10px 0 !important; }
        @media screen and (max-width: 599px) {
          .days-remaining-row .days-categories-column .row .days-category a p {
            font-size: 25px; } }

.sweaters-row .sweater-info-row {
  background: #0a3053;
  background-color: #0a3053;
  height: 76px;
  margin-bottom: 8px; }
  .sweaters-row .sweater-info-row .columns {
    vertical-align: middle; }
    .sweaters-row .sweater-info-row .columns h4, .sweaters-row .sweater-info-row .columns p {
      text-align: center;
      color: #ffffff;
      font-weight: 400; }
      @media screen and (max-width: 599px) {
        .sweaters-row .sweater-info-row .columns h4, .sweaters-row .sweater-info-row .columns p {
          text-align: left;
          padding-left: 20px; } }
      .sweaters-row .sweater-info-row .columns h4 span {
        font-weight: 500; }
    .sweaters-row .sweater-info-row .columns h4 {
      font-size: 22px; }
      @media screen and (max-width: 599px) {
        .sweaters-row .sweater-info-row .columns h4 {
          font-size: 45px;
          padding-top: 10px; } }
    @media screen and (max-width: 599px) {
      .sweaters-row .sweater-info-row .columns p {
        font-size: 25px;
        padding-bottom: 20px; } }

.sweaters-row .sweater-pic-row {
  background: #a4d2f9;
  background-color: #a4d2f9;
  height: 316px; }
  .sweaters-row .sweater-pic-row .sweaters-btn-column {
    position: absolute;
    width: 168px !important;
    bottom: 8px; }
    @media screen and (max-width: 599px) {
      .sweaters-row .sweater-pic-row .sweaters-btn-column {
        width: 294px !important;
        left: 160px;
        margin-bottom: 8px; } }
    .sweaters-row .sweater-pic-row .sweaters-btn-column a {
      background: #0a3053;
      background-color: #0a3053;
      color: #ffffff;
      padding: 10px 15px;
      border-radius: 3px;
      height: 40px;
      font-size: 16px; }
      @media screen and (max-width: 599px) {
        .sweaters-row .sweater-pic-row .sweaters-btn-column a {
          font-size: 30px;
          padding: 15px 20px; } }
  .sweaters-row .sweater-pic-row .img-sweater2-absolute {
    position: absolute;
    top: -12px !important;
    left: 20.9%;
    width: 52% !important; }
  .sweaters-row .sweater-pic-row .img-sweater1-column,
  .sweaters-row .sweater-pic-row .img-sweater3-column {
    width: 25% !important; }
    .sweaters-row .sweater-pic-row .img-sweater1-column img,
    .sweaters-row .sweater-pic-row .img-sweater3-column img {
      margin: 0 auto;
      height: 300px; }
  .sweaters-row .sweater-pic-row .img-sweater2-column {
    background: #5da5dd;
    background-color: #5da5dd;
    border: 25px solid #245c8d; }

.iwatch-row .iwatch-info-row {
  background: #680022;
  background-color: #680022;
  height: 76px;
  margin: 8px 0; }
  .iwatch-row .iwatch-info-row .columns {
    vertical-align: middle; }
    .iwatch-row .iwatch-info-row .columns h4, .iwatch-row .iwatch-info-row .columns p {
      text-align: center;
      color: #ffffff;
      font-weight: 400; }
      @media screen and (max-width: 599px) {
        .iwatch-row .iwatch-info-row .columns h4, .iwatch-row .iwatch-info-row .columns p {
          text-align: left;
          padding-left: 20px; } }
      .iwatch-row .iwatch-info-row .columns h4 span, .iwatch-row .iwatch-info-row .columns p span {
        font-weight: 500; }
    .iwatch-row .iwatch-info-row .columns h4 {
      font-size: 22px; }
      @media screen and (max-width: 599px) {
        .iwatch-row .iwatch-info-row .columns h4 {
          font-size: 45px;
          padding-top: 10px; } }
    @media screen and (max-width: 599px) {
      .iwatch-row .iwatch-info-row .columns p {
        font-size: 25px;
        padding-bottom: 20px; } }

.iwatch-row .iwatch-pic-row {
  height: 316px; }
  .iwatch-row .iwatch-pic-row .iwatch-btn-column {
    position: absolute;
    width: 136px !important;
    bottom: 16px;
    left: 232px;
    z-index: 99999999999999999999; }
    @media screen and (max-width: 599px) {
      .iwatch-row .iwatch-pic-row .iwatch-btn-column {
        width: 200px !important;
        left: 200px; } }
    .iwatch-row .iwatch-pic-row .iwatch-btn-column a {
      margin: 0 auto;
      background: #680022;
      background-color: #680022;
      color: #ffffff;
      padding: 10px 25px;
      border-radius: 3px;
      height: 40px;
      font-size: 16px; }
      @media screen and (max-width: 599px) {
        .iwatch-row .iwatch-pic-row .iwatch-btn-column a {
          font-size: 30px;
          padding: 15px 20px; } }
  .iwatch-row .iwatch-pic-row .iwatch-main-column {
    background: #be001c;
    background-color: #be001c; }
    .iwatch-row .iwatch-pic-row .iwatch-main-column > table {
      height: 100%; }
    .iwatch-row .iwatch-pic-row .iwatch-main-column .iwatch-target-column {
      background: #be001c;
      background-color: #be001c; }
      .iwatch-row .iwatch-pic-row .iwatch-main-column .iwatch-target-column h6 {
        color: #ffffff;
        font-weight: 500;
        margin: 120px 0 0 20px; }
        @media screen and (max-width: 599px) {
          .iwatch-row .iwatch-pic-row .iwatch-main-column .iwatch-target-column h6 {
            margin: 20px 0 20px 224px;
            font-size: 28px; } }
      .iwatch-row .iwatch-pic-row .iwatch-main-column .iwatch-target-column h1 {
        color: #ffffff;
        font-size: 46px;
        font-weight: 500;
        line-height: .9;
        display: inline-block; }
        @media screen and (max-width: 599px) {
          .iwatch-row .iwatch-pic-row .iwatch-main-column .iwatch-target-column h1 {
            margin-bottom: 20px; } }
      .iwatch-row .iwatch-pic-row .iwatch-main-column .iwatch-target-column img {
        height: 42px;
        display: inline-block;
        margin: 0 -5px -5px 20px; }
        @media screen and (max-width: 599px) {
          .iwatch-row .iwatch-pic-row .iwatch-main-column .iwatch-target-column img {
            margin: 0 -5px -5px 220px; } }
    .iwatch-row .iwatch-pic-row .iwatch-main-column .iwatch-pic-column {
      height: 100%;
      background: #ed002e !important;
      background-color: #ed002e;
      background-size: cover;
      clip-path: circle(900px at 900px 50%); }
      @media screen and (max-width: 599px) {
        .iwatch-row .iwatch-pic-row .iwatch-main-column .iwatch-pic-column {
          clip-path: none; } }
      .iwatch-row .iwatch-pic-row .iwatch-main-column .iwatch-pic-column > table {
        height: 100%; }
      .iwatch-row .iwatch-pic-row .iwatch-main-column .iwatch-pic-column .air-left {
        height: 120px;
        display: inline-block;
        margin: 0 15px 120px 30px !important;
        transform: rotate(15deg); }
        @media screen and (max-width: 599px) {
          .iwatch-row .iwatch-pic-row .iwatch-main-column .iwatch-pic-column .air-left {
            margin-left: 134px !important;
            margin-bottom: 120px !important; } }
      .iwatch-row .iwatch-pic-row .iwatch-main-column .iwatch-pic-column .i-watch {
        display: inline-block;
        height: 250px;
        margin-top: 30px; }
        @media screen and (max-width: 599px) {
          .iwatch-row .iwatch-pic-row .iwatch-main-column .iwatch-pic-column .i-watch {
            margin-top: 10px !important;
            margin-bottom: 80px !important; } }
      .iwatch-row .iwatch-pic-row .iwatch-main-column .iwatch-pic-column .air-right {
        height: 120px;
        display: inline-block;
        margin: 120px 30px 0 15px !important;
        transform: rotate(345deg); }
        @media screen and (max-width: 599px) {
          .iwatch-row .iwatch-pic-row .iwatch-main-column .iwatch-pic-column .air-right {
            margin-bottom: 120px !important; } }

.toys-row .toys-info-row {
  background: #104a47;
  background-color: #104a47;
  height: 76px;
  margin: 8px 0; }
  .toys-row .toys-info-row .columns {
    vertical-align: middle; }
    .toys-row .toys-info-row .columns h4, .toys-row .toys-info-row .columns p {
      text-align: center;
      color: #ffffff;
      font-weight: 400; }
      @media screen and (max-width: 599px) {
        .toys-row .toys-info-row .columns h4, .toys-row .toys-info-row .columns p {
          text-align: left;
          padding-left: 20px; } }
      .toys-row .toys-info-row .columns h4 span {
        font-weight: 500; }
    .toys-row .toys-info-row .columns h4 {
      font-size: 22px; }
      @media screen and (max-width: 599px) {
        .toys-row .toys-info-row .columns h4 {
          font-size: 45px;
          padding-top: 10px; } }
    @media screen and (max-width: 599px) {
      .toys-row .toys-info-row .columns p {
        font-size: 25px;
        padding-bottom: 20px; } }

.toys-row .toys-pic-row {
  height: 332px;
  border-collapse: separate;
  border-spacing: 8px;
  margin: -8px !important;
  min-width: calc(100% + 16px) !important; }
  .toys-row .toys-pic-row .toys-column {
    background: #3ea499;
    background-color: #3ea499; }
    @media screen and (max-width: 599px) {
      .toys-row .toys-pic-row .toys-column {
        margin-bottom: 8px !important;
        height: 450px !important; } }
    .toys-row .toys-pic-row .toys-column .pickup {
      height: 220px;
      display: inline-block;
      margin: 20px 0 0 20px !important;
      width: 50%;
      z-index: 1; }
      @media screen and (max-width: 599px) {
        .toys-row .toys-pic-row .toys-column .pickup {
          height: 400px; } }
    .toys-row .toys-pic-row .toys-column .battle-cat {
      height: 220px;
      display: inline-block;
      width: 60%;
      margin-left: -60px !important;
      transform: translateY(50px);
      z-index: 2; }
      @media screen and (max-width: 599px) {
        .toys-row .toys-pic-row .toys-column .battle-cat {
          margin-left: -100px !important;
          transform: translateY(0);
          height: 300px; } }
    .toys-row .toys-pic-row .toys-column .toys-btn-row {
      height: 71px; }
      .toys-row .toys-pic-row .toys-column .toys-btn-row > tbody > tr > th > table {
        margin-top: 31px; }
        @media screen and (max-width: 599px) {
          .toys-row .toys-pic-row .toys-column .toys-btn-row > tbody > tr > th > table {
            margin-top: -38px; } }
        .toys-row .toys-pic-row .toys-column .toys-btn-row > tbody > tr > th > table > tbody > tr > th {
          text-align: center; }
      .toys-row .toys-pic-row .toys-column .toys-btn-row a {
        background: #0d4340;
        background-color: #0d4340;
        color: #ffffff;
        width: 130px;
        padding: 10px 50px;
        border-radius: 3px;
        height: 40px;
        font-size: 16px;
        z-index: 3; }
        @media screen and (max-width: 599px) {
          .toys-row .toys-pic-row .toys-column .toys-btn-row a {
            font-size: 30px;
            padding: 15px 80px; } }
  .toys-row .toys-pic-row .video-game-column {
    background: #3ea499;
    background-color: #3ea499; }
    @media screen and (max-width: 599px) {
      .toys-row .toys-pic-row .video-game-column {
        height: 450px !important; } }
    .toys-row .toys-pic-row .video-game-column .gta {
      height: 220px;
      display: inline-block;
      margin: 20px 0 0 20px !important;
      transform: rotate(355deg); }
      @media screen and (max-width: 599px) {
        .toys-row .toys-pic-row .video-game-column .gta {
          margin-left: 140px !important;
          height: 300px; } }
    .toys-row .toys-pic-row .video-game-column .super-smash {
      height: 220px;
      display: inline-block;
      margin-left: -80px;
      transform: rotate3d(1, -1, 1, 25deg) translateY(30px); }
      @media screen and (max-width: 599px) {
        .toys-row .toys-pic-row .video-game-column .super-smash {
          height: 300px; } }
    .toys-row .toys-pic-row .video-game-column .toys-btn-row {
      height: 71px; }
      .toys-row .toys-pic-row .video-game-column .toys-btn-row > tbody > tr > th > table {
        margin-top: 31px; }
        @media screen and (max-width: 599px) {
          .toys-row .toys-pic-row .video-game-column .toys-btn-row > tbody > tr > th > table {
            margin-top: 60px; } }
        .toys-row .toys-pic-row .video-game-column .toys-btn-row > tbody > tr > th > table > tbody > tr > th {
          text-align: center; }
      .toys-row .toys-pic-row .video-game-column .toys-btn-row a {
        background: #0d4340;
        background-color: #0d4340;
        color: #ffffff;
        width: 130px;
        padding: 10px 20px;
        border-radius: 3px;
        height: 40px;
        font-size: 16px;
        z-index: 3; }
        @media screen and (max-width: 599px) {
          .toys-row .toys-pic-row .video-game-column .toys-btn-row a {
            font-size: 30px;
            padding: 15px 20px; } }

.by-price-row .price-info-row {
  background: #104a47;
  background-color: #104a47;
  height: 54px;
  margin: 8px 0; }
  .by-price-row .price-info-row .columns {
    vertical-align: middle; }
    .by-price-row .price-info-row .columns h4 {
      text-align: center;
      color: #ffffff;
      font-weight: 400;
      font-size: 22px; }
      @media screen and (max-width: 599px) {
        .by-price-row .price-info-row .columns h4 {
          text-align: left;
          padding-left: 20px;
          font-size: 45px;
          padding-top: 10px; } }
      .by-price-row .price-info-row .columns h4 span {
        font-weight: 500; }

.by-price-row .price-content-row {
  border-collapse: separate;
  border-spacing: 8px;
  margin: -8px !important;
  min-width: calc(100% + 16px) !important; }
  .by-price-row .price-content-row .columns {
    background: linear-gradient(90deg, #57c4b7 0%, #1f7570 100%);
    background-color: linear-gradient(90deg, #57c4b7 0%, #1f7570 100%);
    height: 154px !important; }
    .by-price-row .price-content-row .columns > table {
      height: 100%; }
      .by-price-row .price-content-row .columns > table > tbody > tr > th {
        text-align: center;
        vertical-align: middle; }
    .by-price-row .price-content-row .columns a {
      color: #ffffff;
      font-weight: 600;
      font-size: 22px; }
      @media screen and (max-width: 599px) {
        .by-price-row .price-content-row .columns a {
          font-size: 36px; } }

.footer-menu-row .offer-row {
  background: #c5000b;
  background-color: #c5000b;
  margin-top: 8px;
  height: 54px; }
  .footer-menu-row .offer-row .columns {
    vertical-align: middle; }
    .footer-menu-row .offer-row .columns.first > table {
      margin-left: 12px; }
      @media screen and (max-width: 599px) {
        .footer-menu-row .offer-row .columns.first > table {
          margin-left: 0;
          margin-bottom: 15px; } }
    .footer-menu-row .offer-row .columns.first p {
      font-size: 13px;
      color: #ffffff; }
      @media screen and (max-width: 599px) {
        .footer-menu-row .offer-row .columns.first p {
          font-size: 20px;
          text-align: center; } }
      .footer-menu-row .offer-row .columns.first p span {
        color: #ffffff;
        font-weight: 500; }
    .footer-menu-row .offer-row .columns.last > table > tbody > tr > th {
      text-align: right; }
      @media screen and (max-width: 599px) {
        .footer-menu-row .offer-row .columns.last > table > tbody > tr > th {
          text-align: center; } }
    .footer-menu-row .offer-row .columns.last a {
      border: 2px solid #ffffff;
      color: #ffffff;
      padding: 8px 5px;
      font-size: 13px;
      margin-right: 12px; }
      @media screen and (max-width: 599px) {
        .footer-menu-row .offer-row .columns.last a {
          font-size: 20px;
          margin-right: 0; } }

.footer-menu-row .footer-menu {
  background: #f7f7f7;
  background-color: #f7f7f7;
  height: 50px; }
  .footer-menu-row .footer-menu .columns {
    vertical-align: middle; }
    .footer-menu-row .footer-menu .columns a {
      font-size: 14px;
      font-weight: normal;
      color: #333333;
      margin: 0 13px;
      letter-spacing: .2px; }
      @media screen and (max-width: 599px) {
        .footer-menu-row .footer-menu .columns a {
          text-align: center;
          margin: 0 260px !important;
          font-size: 26px; } }

.fine-print-row {
  table-layout: fixed;
  width: 600px !important;
  margin: 20px; }
  .fine-print-row h6 {
    font-size: 14px;
    font-weight: 500;
    color: #3c4144; }
    @media screen and (max-width: 599px) {
      .fine-print-row h6 {
        font-size: 25px; } }
  .fine-print-row p {
    font-size: 10px;
    color: #7a7a7a;
    hyphens: none; }
    @media screen and (max-width: 599px) {
      .fine-print-row p {
        font-size: 18px; } }
    .fine-print-row p span {
      font-weight: 700; }

.footer-bottom {
  background: #f7f7f7;
  background-color: #f7f7f7;
  height: 110px;
  margin-bottom: 200px; }
  @media screen and (max-width: 599px) {
    .footer-bottom {
      margin-bottom: 50px; } }
  .footer-bottom img {
    width: 60px !important;
    margin: 20px auto -10px auto; }
    @media screen and (max-width: 599px) {
      .footer-bottom img {
        width: 100px !important; } }
  .footer-bottom p {
    text-align: center;
    font-size: 10px;
    font-weight: 900;
    color: #3c4144; }
    @media screen and (max-width: 599px) {
      .footer-bottom p {
        font-size: 16px; } }
    .footer-bottom p span {
      color: #ce293c; }
