
body,
html, 
.body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  .header-logo-row {
    img {
      width: 80px;
      margin: 0 auto;
    }
  }
  .header-menu-row {
    background: #f7f7f7;
    background-color: #f7f7f7;
    height: 44px;
    margin-bottom: $margin-bottom;
    .columns {
      vertical-align: middle;
      & > table > tbody > tr > th {
        text-align: center;
        a {
          font-size: 14px;
          font-weight: normal;
          color: $text-dark;
          margin: 0 20px;
          letter-spacing: .2px;
        }
      }
    }
     
  }
  .subheader-row {
    background: $dark-red;
    background-color: $dark-red;
    height: 102px;
    margin-bottom: $margin-bottom;
    .columns {
      vertical-align: middle;
      h4, p {
        text-align: center;
        color: $white;
        font-weight: 400;
        span {
          font-weight: 700;
        }
      }
      h4 {
        font-size: 22px;
      }
    }
  }
}
